.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.5fr;
  grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer footer";
  gap: 0.2rem;
  background-color: #fbfdfd;
  width: 100%; 
  height: 100vh;
  font-size:  36px;
  text-align: center;
}


.container .item1{
  background-color: #FFAEBC;
  grid-area: header;
}

.container .item2{
  background-color: #A0E7E5;
  grid-area: sidebar;
}

.container .item3{
  background-color: #B4F8C8;
  grid-area: content;
}

.container .item4{
  background-color: #FBE7C6;
  grid-area: footer;
}

@media only screen and (max-width:660px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 1fr 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}